$header: 150px;
$footer: 50px;

.container-all{
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: calc(100vh - $header - $footer);
  overflow: scroll;
  overflow-x: hidden;
}

.poster-section {
  display: flex;
  justify-content: center;
  width: 45%;
  min-width: 300px;
}

.info-section {
  padding: 10px;
  width: 45%;
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;

  h3 {
    text-align: center;
    font-family: "Inter";
    color: #4f5b6e;
  }

  span {
    color: #5f728f;
  }

  .hour-container {
    position: relative;
    right: -70%;
    top: 20px;
    width: 100px;
  }

  .data {
    display: flex;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .data-name {
    font-weight: bold;
    font-size: 1rem;
  }

  .plot {
    width: 100%;
    text-align: justify;
    font-family: "Inter";
    color: #5f728f;
  }
}

.back-button {
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fcd535;
  border: none;
  border-radius: 3px;
  color: #0b0e11;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  justify-content: center;
  line-height: 24px;
  min-height: 40px;
  min-width: 72px;
  white-space: nowrap;
  word-break: break-all;
}

.clock-icon:before {
  content: "\1F550";
}

.not-found {
  display: flex;
  flex-direction: column;

  .not-found-icon {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }

  .not-found-icon::after {
    content: '\003F';
  }

  p {
    text-align: center;
  }

  button {
    width: 50%;
    margin: 0 auto;
  }
}

.rating {
  position: relative;
  appearance: none;
  color: transparent;
  width: auto;
  display: inline-block;
  vertical-align: baseline;
  font-size: 25px;
}

.rating::before {
  --percent: calc(4.3/5*100%);
  content: '★★★★★';
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(0,0,0,0.2);
  background: linear-gradient(90deg, gold var(--percent), rgba(0,0,0,0.2) var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
