<header>
  <div class="container">
    <input type="checkbox" #inputCheckbox>
    <button id="hamburguer">
      <span>&#9776;</span>
    </button>
    <button id="close-hamburguer">
      <span>&#10006;</span>
    </button>
    <div class="logo" routerLink="/">
      <img [src]="logo" alt="" />
      <h2><span>T</span>est</h2>
    </div>
    <nav>
      <ul>
        <li><button routerLink="/">Home</button></li>
        <li><button routerLink="/movies">Movies</button></li>
      </ul>
    </nav>
  </div>
</header>
