<main class="main">
  <section class="main-section">
    <div class="main-text"><h1 class="title">Prueba técnica</h1></div>
    <div class="secundary-text">
      <p>
        Bienvenidos al test, aquí podrá buscar películas desde la sección "Movies".
      </p>
    </div>
  </section>

  <section class="info-section">
    <div class="informative-component-container">
      <div class="img-container">
        <img class="caritas-negras" [src]="imgUrl" alt="caritas negras" />
      </div>
      <div class="info-button-container">
          <div class="info-text">
            Texto sobre otro elemento
          </div>
          <button class="info-button">Button</button>
      </div>
    </div>
  </section>
</main>
