<div class="search-container" *ngIf="movies?.length">
  <input type="text" placeholder="Search" class="search-input" [(ngModel)]="filter">

  <div class="container-cards">
    <ng-container *ngFor="let movie of movies | filter: 'Title' : filter">
      <div class="card" (click)="goToDetails(movie)">
        <div class="icon-detail-container">
          <span class="icon-eye"></span>
          <span class="details-span">Go to details</span>
        </div>

        <img src="{{ movie.Poster === 'N/A' ? imageNotAvailable : movie.Poster }}" alt="">
        {{ movie.Title }}
      </div>
    </ng-container>
  </div>
</div>
