$header: 150px;
$footer: 50px;

.container-all {
  height: calc(100vh - $header - $footer);
  overflow: scroll;
  padding: 0 20px;
  overflow-x: hidden;
}

.container-card {
  margin-bottom: 20px;
}

.options-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.options-container div {
  display: flex;
  margin: 15px;
  flex-wrap: wrap;
  min-width: 150px;
  flex-direction: row;
  align-items: center;

  label {
    font-family: "Inter", Helvetica;
    margin-bottom: 5px;
    color: #3a414b;
  }

  input {
    outline: none;
    width: 100%;
    border: 1px solid #fcd535;
    border-radius: 10px;
    height: 25px;
    padding-left: 5px;
  }

  select {
    width: 100%;
    text-align: start;
    cursor: text;
    border: 1px solid #fcd535;
    height: 30px;
    border-radius: 10px;
    box-sizing: border-box
  }
}

.button-container {
  display: flex;
  justify-content: center;

  button {
    width: 120px;
    max-width: 45%;
    margin: 0 20px;
  }
}

.btn-filter {
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fcd535;
  border: none;
  border-radius: 3px;
  color: #3a414b;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  justify-content: center;
  line-height: 24px;
  min-height: 40px;
  min-width: 72px;
  white-space: nowrap;
  word-break: break-all;
}

.filter-message-container {
  text-align: center;
  margin-top: 40px;
}

.welcome-message{
  font-family: "Inter", Helvetica;
  color: #fcd535;
  font-size: 40px;
  text-shadow: 3px 3px 3px lightgray;
}

.filter-message {
  font-family: "Inter", Helvetica;
  color: #3a414b;
  font-size: 30px;
}

.title-warning {
  color: red;
  position: absolute;
  top: 80px;
}

.see-more-button {
  background-color: #fcd535;
  border: none;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  border-radius: 20px;
  height: 25px;
  cursor: pointer;
  width: 45vw;
  font-family: "Inter", Helvetica;
}

@media (min-width: 800px) {
  form {
    display: flex;
    align-items: center;
  }

  .options-container {
    width: 75vw;
    flex-wrap: nowrap;
  }

  .button-container {
    width: 25vw;
    margin-top: 15px;
    flex-wrap: nowrap;
  }
}

@media (max-width: 750px) {
  .options-container div {
    width: 25vw;
  }
}

@media (max-width: 650px) {
  .options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

